interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.omdbapi.com/?Episode=5&Season=1&apikey=supersecret&t=Band+of+Brothers&type=episode
  response:
    body:
      string: '{"Title":"Crossroads","Year":"2001","Rated":"TV-MA","Released":"30
        Sep 2001","Season":"1","Episode":"5","Runtime":"53 min","Genre":"Drama, History,
        War","Director":"Tom Hanks","Writer":"Stephen Ambrose, Erik Jendresen","Actors":"Nicholas
        Aaron, Kirk Acevedo, Doug Allen","Plot":"Winters writes a report on the challenge
        of an unexpected resistance to a German attack, and is haunted by his conscience
        after shooting a teenage German SS soldier.","Language":"English","Country":"United
        States, United Kingdom","Awards":"N/A","Poster":"https://m.media-amazon.com/images/M/MV5BZjE2ZGExNjktMjJkNS00ODQ4LWJmOGEtOTE2ZTI1MTZkMTQxXkEyXkFqcGc@._V1_SX300.jpg","Ratings":[{"Source":"Internet
        Movie Database","Value":"8.8/10"}],"Metascore":"N/A","imdbRating":"8.8","imdbVotes":"9471","imdbID":"tt1247464","seriesID":"tt0185906","Type":"episode","Response":"True"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      last-modified:
      - Fri, 27 Dec 2024 20:39:33 GMT
    status:
      code: 200
      message: OK
version: 1
