interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.omdbapi.com/?apikey=supersecret&t=Band+of+Brothers&type=series
  response:
    body:
      string: '{"Title":"Band of Brothers","Year":"2001","Rated":"TV-MA","Released":"09
        Sep 2001","Runtime":"594 min","Genre":"Action, Drama, History","Director":"N/A","Writer":"N/A","Actors":"Scott
        Grimes, Damian Lewis, Ron Livingston","Plot":"The story of Easy Company of
        the U.S. Army 101st Airborne Division and their mission in World War II Europe,
        from Operation Overlord to V-J Day.","Language":"English, German, French,
        Dutch, Latin, Polish, Spanish","Country":"United Kingdom, United States","Awards":"Won
        6 Primetime Emmys. 34 wins & 26 nominations total","Poster":"https://m.media-amazon.com/images/M/MV5BMTQ3NTdmOTEtZTRmMi00NTg5LWI5NmUtYTNiOTc0ZmNkODU0XkEyXkFqcGc@._V1_SX300.jpg","Ratings":[{"Source":"Internet
        Movie Database","Value":"9.4/10"}],"Metascore":"N/A","imdbRating":"9.4","imdbVotes":"549,453","imdbID":"tt0185906","Type":"series","totalSeasons":"1","Response":"True"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      last-modified:
      - Fri, 27 Dec 2024 15:19:41 GMT
    status:
      code: 200
      message: OK
version: 1
