interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.omdbapi.com/?apikey=supersecret&t=Battlestar+Galactica&type=series
  response:
    body:
      string: "{\"Title\":\"Battlestar Galactica\",\"Year\":\"2004\u20132009\",\"Rated\":\"TV-14\",\"Released\":\"14
        Jan 2005\",\"Runtime\":\"44 min\",\"Genre\":\"Action, Adventure, Drama\",\"Director\":\"N/A\",\"Writer\":\"Glen
        A. Larson, Ronald D. Moore\",\"Actors\":\"Edward James Olmos, Mary McDonnell,
        Jamie Bamber\",\"Plot\":\"When an old enemy, the Cylons, resurface and obliterate
        the 12 colonies, the crew of the aged Galactica protect a small civilian fleet
        - the last of humanity - as they journey toward the fabled 13th colony, Earth.\",\"Language\":\"English\",\"Country\":\"United
        States\",\"Awards\":\"Won 3 Primetime Emmys. 43 wins & 114 nominations total\",\"Poster\":\"https://m.media-amazon.com/images/M/MV5BNmMzYzdmNWMtM2ZmMi00Y2E2LWI5ZTMtYWJlNmJiMDgyYWRiXkEyXkFqcGc@._V1_SX300.jpg\",\"Ratings\":[{\"Source\":\"Internet
        Movie Database\",\"Value\":\"8.7/10\"}],\"Metascore\":\"N/A\",\"imdbRating\":\"8.7\",\"imdbVotes\":\"179,376\",\"imdbID\":\"tt0407362\",\"Type\":\"series\",\"totalSeasons\":\"4\",\"Response\":\"True\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      last-modified:
      - Mon, 30 Dec 2024 03:10:32 GMT
    status:
      code: 200
      message: OK
version: 1
