interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.omdbapi.com/?apikey=supersecret&t=Game+of+Thrones&type=series
  response:
    body:
      string: "{\"Title\":\"Game of Thrones\",\"Year\":\"2011\u20132019\",\"Rated\":\"TV-MA\",\"Released\":\"17
        Apr 2011\",\"Runtime\":\"57 min\",\"Genre\":\"Action, Adventure, Drama\",\"Director\":\"N/A\",\"Writer\":\"David
        Benioff, D.B. Weiss\",\"Actors\":\"Emilia Clarke, Peter Dinklage, Kit Harington\",\"Plot\":\"Nine
        noble families fight for control over the lands of Westeros, while an ancient
        enemy returns after being dormant for millennia.\",\"Language\":\"English\",\"Country\":\"United
        States, United Kingdom\",\"Awards\":\"Won 59 Primetime Emmys. 397 wins & 655
        nominations total\",\"Poster\":\"https://m.media-amazon.com/images/M/MV5BMTNhMDJmNmYtNDQ5OS00ODdlLWE0ZDAtZTgyYTIwNDY3OTU3XkEyXkFqcGc@._V1_SX300.jpg\",\"Ratings\":[{\"Source\":\"Internet
        Movie Database\",\"Value\":\"9.2/10\"}],\"Metascore\":\"N/A\",\"imdbRating\":\"9.2\",\"imdbVotes\":\"2,370,839\",\"imdbID\":\"tt0944947\",\"Type\":\"series\",\"totalSeasons\":\"8\",\"Response\":\"True\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      last-modified:
      - Fri, 27 Dec 2024 18:16:58 GMT
    status:
      code: 200
      message: OK
version: 1
