interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.omdbapi.com/?Season=1&apikey=supersecret&t=Band+of+Brothers&type=episode
  response:
    body:
      string: '{"Title":"Band of Brothers","Season":"1","totalSeasons":"1","Episodes":[{"Title":"Currahee","Released":"2001-09-09","Episode":"1","imdbRating":"8.6","imdbID":"tt1245384"},{"Title":"Day
        of Days","Released":"2001-09-09","Episode":"2","imdbRating":"9.1","imdbID":"tt1247465"},{"Title":"Carentan","Released":"2001-09-16","Episode":"3","imdbRating":"9.0","imdbID":"tt1247463"},{"Title":"Replacements","Released":"2001-09-23","Episode":"4","imdbRating":"8.8","imdbID":"tt1247467"},{"Title":"Crossroads","Released":"2001-09-30","Episode":"5","imdbRating":"8.8","imdbID":"tt1247464"},{"Title":"Bastogne","Released":"2001-10-07","Episode":"6","imdbRating":"9.2","imdbID":"tt1247462"},{"Title":"The
        Breaking Point","Released":"2001-10-14","Episode":"7","imdbRating":"9.4","imdbID":"tt1247468"},{"Title":"The
        Last Patrol","Released":"2001-10-21","Episode":"8","imdbRating":"8.7","imdbID":"tt1247469"},{"Title":"Why
        We Fight","Released":"2001-10-28","Episode":"9","imdbRating":"9.5","imdbID":"tt1247470"},{"Title":"Points","Released":"2001-11-04","Episode":"10","imdbRating":"9.2","imdbID":"tt1247466"}],"Response":"True"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      last-modified:
      - Fri, 27 Dec 2024 15:19:41 GMT
    status:
      code: 200
      message: OK
version: 1
