interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.omdbapi.com/?Season=1&apikey=supersecret&t=Battlestar+Galactica&type=episode
  response:
    body:
      string: '{"Title":"Battlestar Galactica","Season":"1","totalSeasons":"4","Episodes":[{"Title":"33","Released":"2005-01-14","Episode":"1","imdbRating":"8.5","imdbID":"tt0519761"},{"Title":"Water","Released":"2005-01-14","Episode":"2","imdbRating":"7.7","imdbID":"tt0519792"},{"Title":"Bastille
        Day","Released":"2005-01-21","Episode":"3","imdbRating":"7.6","imdbID":"tt0519763"},{"Title":"Act
        of Contrition","Released":"2005-01-28","Episode":"4","imdbRating":"7.7","imdbID":"tt0519762"},{"Title":"You
        Can''t Go Home Again","Released":"2005-02-04","Episode":"5","imdbRating":"8.2","imdbID":"tt0519793"},{"Title":"Litmus","Released":"2005-02-11","Episode":"6","imdbRating":"7.6","imdbID":"tt0519778"},{"Title":"Six
        Degrees of Separation","Released":"2005-02-18","Episode":"7","imdbRating":"7.7","imdbID":"tt0519786"},{"Title":"Flesh
        and Bone","Released":"2005-02-25","Episode":"8","imdbRating":"8.0","imdbID":"tt0519769"},{"Title":"Tigh
        Me Up, Tigh Me Down","Released":"2005-03-04","Episode":"9","imdbRating":"7.5","imdbID":"tt0519790"},{"Title":"The
        Hand of God","Released":"2005-03-11","Episode":"10","imdbRating":"8.4","imdbID":"tt0519789"},{"Title":"Colonial
        Day","Released":"2005-03-18","Episode":"11","imdbRating":"7.6","imdbID":"tt0519765"},{"Title":"Kobol''s
        Last Gleaming: Part 1","Released":"2005-03-25","Episode":"12","imdbRating":"8.3","imdbID":"tt0519774"},{"Title":"Kobol''s
        Last Gleaming: Part 2","Released":"2005-04-01","Episode":"13","imdbRating":"8.8","imdbID":"tt0519775"}],"Response":"True"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      last-modified:
      - Mon, 30 Dec 2024 03:10:32 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.omdbapi.com/?Season=2&apikey=supersecret&t=Battlestar+Galactica&type=episode
  response:
    body:
      string: '{"Title":"Battlestar Galactica","Season":"2","totalSeasons":"4","Episodes":[{"Title":"Scattered","Released":"2005-07-15","Episode":"1","imdbRating":"8.2","imdbID":"tt0519785"},{"Title":"Valley
        of Darkness","Released":"2005-07-22","Episode":"2","imdbRating":"7.9","imdbID":"tt0519791"},{"Title":"Fragged","Released":"2005-07-29","Episode":"3","imdbRating":"N/A","imdbID":"tt0519771"},{"Title":"Resistance","Released":"2005-08-05","Episode":"4","imdbRating":"8.0","imdbID":"tt0519780"},{"Title":"The
        Farm","Released":"2005-08-12","Episode":"5","imdbRating":"7.7","imdbID":"tt0519788"},{"Title":"Home:
        Part 1","Released":"2005-08-19","Episode":"6","imdbRating":"8.0","imdbID":"tt0519772"},{"Title":"Home:
        Part 2","Released":"2005-08-26","Episode":"7","imdbRating":"8.3","imdbID":"tt0519773"},{"Title":"Final
        Cut","Released":"2005-09-09","Episode":"8","imdbRating":"7.7","imdbID":"tt0519768"},{"Title":"Flight
        of the Phoenix","Released":"2005-09-16","Episode":"9","imdbRating":"8.2","imdbID":"tt0519770"},{"Title":"Pegasus","Released":"2005-09-23","Episode":"10","imdbRating":"N/A","imdbID":"tt0519779"},{"Title":"Resurrection
        Ship: Part 1","Released":"2006-01-06","Episode":"11","imdbRating":"8.7","imdbID":"tt0519781"},{"Title":"Resurrection
        Ship: Part 2","Released":"2006-01-13","Episode":"12","imdbRating":"8.9","imdbID":"tt0519782"},{"Title":"Epiphanies","Released":"2006-01-20","Episode":"13","imdbRating":"7.4","imdbID":"tt0519767"},{"Title":"Black
        Market","Released":"2006-01-27","Episode":"14","imdbRating":"6.4","imdbID":"tt0519764"},{"Title":"Scar","Released":"2006-02-03","Episode":"15","imdbRating":"7.3","imdbID":"tt0519784"},{"Title":"Sacrifice","Released":"2006-02-10","Episode":"16","imdbRating":"7.0","imdbID":"tt0519783"},{"Title":"The
        Captain''s Hand","Released":"2006-02-17","Episode":"17","imdbRating":"7.6","imdbID":"tt0519787"},{"Title":"Downloaded","Released":"2006-02-24","Episode":"18","imdbRating":"8.4","imdbID":"tt0519766"},{"Title":"Lay
        Down Your Burdens: Part 1","Released":"2006-03-03","Episode":"19","imdbRating":"8.0","imdbID":"tt0519776"},{"Title":"Lay
        Down Your Burdens: Part 2","Released":"2006-03-10","Episode":"20","imdbRating":"8.7","imdbID":"tt0519777"}],"Response":"True"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      last-modified:
      - Mon, 30 Dec 2024 03:10:32 GMT
    status:
      code: 200
      message: OK
[...]
