interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.omdbapi.com/?Season=3&apikey=supersecret&t=Psych&type=episode
  response:
    body:
      string: '{"Title":"Psych","Season":"3","totalSeasons":"8","Episodes":[{"Title":"Ghosts","Released":"2008-07-18","Episode":"1","imdbRating":"8.1","imdbID":"tt1189416"},{"Title":"Murder?...
        Anyone?... Anyone?... Bueller?","Released":"2008-07-25","Episode":"2","imdbRating":"8.9","imdbID":"tt1189424"},{"Title":"Daredevils!","Released":"2008-08-01","Episode":"3","imdbRating":"N/A","imdbID":"tt1189425"},{"Title":"The
        Greatest Adventure in the History of Basic Cable","Released":"2008-08-08","Episode":"4","imdbRating":"8.5","imdbID":"tt1189426"},{"Title":"Disco
        Didn''t Die. It Was Murdered!","Released":"2008-08-15","Episode":"5","[...]
