interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.omdbapi.com/?Episode=10&Season=3&apikey=supersecret&t=Psych&type=episode
  response:
    body:
      string: "{\"Title\":\"Six Feet Under the Sea\",\"Year\":\"2009\",\"Rated\":\"TV-PG\",\"Released\":\"09
        Jan 2009\",\"Season\":\"3\",\"Episode\":\"10\",\"Runtime\":\"43 min\",\"Genre\":\"Comedy,
        Crime, Mystery\",\"Director\":\"Steve Franks\",\"Writer\":\"Steve Franks\",\"Actors\":\"James
        Roday Rodriguez, Dul\xE9 Hill, Timothy Omundson\",\"Plot\":\"Shawn and Gus
        are hired by April MacArthur, an attractive marine biologist, who suspects
        that a recently released sea lion's death resulted from foul play and thinks
        wildlife television host Randy Labayda may be involved.\",\"Language\":\"English\",\"Country\":\"United
        States\",\"Awards\":\"N/A\",\"Poster\":\"https://m.media-amazon.com/images/M/MV5BMTAxODg2MDgyOTBeQTJeQWpwZ15BbWU4MDAwODM1NjIx._V1_SX300.jpg\",\"Ratings\":[],\"Metascore\":\"N/A\",\"imdbRating\":\"N/A\",\"imdbVotes\":\"918\",\"imdbID\":\"tt1189417\",\"seriesID\":\"tt0491738\",\"Type\":\"episode\",\"Response\":\"True\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      last-modified:
      - Sat, 28 Dec 2024 19:33:35 GMT
    status:
      code: 200
      message: OK
version: 1
