name: Ruff-Format
on: [workflow_dispatch, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.*"
      - uses: astral-sh/ruff-action@v3
        with:
          args: "format --check"
        continue-on-error: false